@import "bootstrap-sprockets";
@import "bootstrap";

@font-face{
  font-family:'Glyphicons Halflings';
  src:url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.eot");
  src:url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
  url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff2") format("woff2"),
  url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff") format("woff"),
  url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.ttf") format("truetype"),
  url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg")
}


.btn-green {
  border-color: #00b436;
  color: #00b436;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open>.btn-green.dropdown-toggle {
  background-color: green;
  color: #009714;
  border-color: #009714;
}

.btn-green.disabled,
.btn-green.disabled:hover,
.btn-green.disabled:focus,
.btn-green.disabled.focus,
.btn-green.disabled:active,
.btn-green.disabled.active,
.btn-green:disabled,
.btn-green:disabled:hover,
.btn-green:disabled:focus,
.btn-green:disabled.focus,
.btn-green:disabled:active,
.btn-green:disabled.active,
.btn-green[disabled],
.btn-green[disabled]:hover,
.btn-green[disabled]:focus,
.btn-green[disabled].focus,
.btn-green[disabled]:active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green,
fieldset[disabled] .btn-green:hover,
fieldset[disabled] .btn-green:focus,
fieldset[disabled] .btn-green.focus,
fieldset[disabled] .btn-green:active,
fieldset[disabled] .btn-green.active {
  background-color: transparent;
  border-color: #00e226;
}

.btn-green.btn-fill {
  color: #130179;
  background-color: #00e226;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-green.btn-fill:hover,
.btn-green.btn-fill:focus,
.btn-green.btn-fill:active,
.btn-green.btn-fill.active,
.open>.btn-green.btn-fill.dropdown-toggle {
  background-color: #1D62F0;
  color: #5f1717;
}

.btn-green.btn-fill .caret {
  border-top-color: #635b5b;
}

.btn-green .caret {
  border-top-color: #3472F7;
}